<h2 class="text-3xl text-center text-slate-700 font-bold my-5">Log Fight Result</h2>

<div class="container flex items-center justify-center mx-auto">
    <div class="mb-6 text-red-600" *ngIf="errorMessage != ''">
        {{errorMessage}}
    </div>
</div>

<form class="max-w-sm mx-auto" (ngSubmit) = "onSubmit()">
    <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="date">Date</label>
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="date" name="date" [(ngModel)]="fight.date">
    </div>
    <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="registeredGymId">Winner</label>
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="winnerBoxer"
            [(ngModel)]="fight.winnerBoxerId"
            name="registeredGymId"
            required
        >
            <option value="" disabled>Select a Winner</option>
            <option *ngFor="let boxer of boxers" [value]="boxer.id">{{ boxer.firstName }} {{ boxer.lastName}}</option>
        </select>
    </div>
    <div class="mb-5">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="registeredGymId">Loser</label>
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="loserBoxer"
            [(ngModel)]="fight.loserBoxerId"
            name="registeredGymId"
            required
        >
            <option value="" disabled>Select a Loser</option>
            <option *ngFor="let boxer of boxers" [value]="boxer.id">{{ boxer.firstName }} {{ boxer.lastName}}</option>
        </select>
    </div>
    <div class="mb-5">
        <button class="px-5 py-3 text-xs rounded-md text-zinc-900 bg-blue-300 hover:bg-blue-700 hover:text-white duration-500" type="submit">Register</button>
    </div>
 </form>
